/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: 'IBM Plex mono', monospace;
  font-size: var(--main-font);
  display: grid;
  background-color: var(--bg-color);
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--headline-color);
  font-size: var(--main-font);
}


.header {
  position: relative;
  height: 100vh;
  width: 100%;
  padding: 10px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  align-items: start;


}

.rec_decor {
  visibility: visible;
  position: absolute;
  display: flex;
  gap: 10px;
  align-items: center;
  top: 10px;
  right: 19px;
  visibility: visible;
}

.rec_decor::before {
  content: 'rec';
  color: var(--accent-color);
  text-transform: uppercase;
}

.rec_decor::after {
  content: '';
  background-color: var(--accent-color);
  filter: drop-shadow(0px 0px 4px var(--accent-color));
  width: 9px;
  height: 9px;
  border-radius: 50%;
}


.decorated-zone::before {
  position: absolute;
  right: 10px;
  top: 10px;
  content: '';
  height: 25px;
  width: 25px;
  border-right: 1px solid var(--link-color) ;
  border-top: 1px solid var(--link-color);
}

.decorated-zone::after {
  position: absolute;
  left: 10px;
  bottom: 10px;
  content: '';
  height: 25px;
  width: 25px;
  border-left: 1px solid var(--link-color) ;
  border-bottom: 1px solid var(--link-color);
}





.header__theme-menu {
  margin-top: 20%;
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.header__title {
  color: var(--title-color);
  font-size: var(--title-font-mobile);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 82.5%;
}

.header__theme-menu-button {
  font-family: inherit;
  font-size: inherit;
  color: var(--link-color);
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0 15px;
  text-transform: lowercase;
}

.header__theme-menu-button_active{
  border: 1px solid var(--link-color);
}

.header__sub-title {
  justify-self: end;
  max-width: 491px;
  font-size: var(--main-font);
  font-weight: var(--bold);
}




/* СЕКЦИИ */

.main {
  display: grid;
  padding: 40px 0;
  gap: 50px;
  padding: 0 10px;
}

.section {
  display: grid;
  gap: 20px;
  justify-content: center;
}

.subtitle {
  font-weight: var(--bold);
  color: var(--subtitle-color);
  font-size: var(--main-font);
}

.article{
  display: grid;
  gap: 10px;
}

.list {
  display: grid;
  gap: 20px;
}

.text { 
  font-size: var(--normal);
  color: var(--text-color);
}





@media (width > 768px ) {
  .header {
    padding: 20px;
  }

  .header.decorated-zone::before {
    right: 20px;
    top: 20px;
  }
  
  .header.decorated-zone::after {
    left: 20px;
    bottom: 20px;
  }

  .rec_decor {
    top: 20px;
    right: 29px;
  }

  .main {
    padding: 20px;
  }

  .section__why {
    gap: 20px;
    grid-template-columns: minmax(236px, 315px) minmax(472px, auto);
  }

  .section__what .subtitle {
    width: 236px;
  }

}

@media (width > 1024px ) {
  .section__what {
    grid-template-rows: auto auto;
  }
  .section__what .subtitle {
    width: 100%;
  }
  .section__what .list{
    grid-template-columns: repeat(3, 1fr);
  }

}

