/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --title-font-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);

  --title-font-desktop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);

  --main-font: 18px;

  --bold: 700;
  --normal: 400;

  /* COLOR */

  --accent-color: #ff0070;
  --bg-color: #000028;
  --title-color: #db00ff;
  --text-color: #f1b2ce;
  --subtitle-color: #ff0070;
  --headline-color: #000028;
  --link-color: #ff0070;
  --border-hover-color: rgba(255, 0, 112, 0.4);
  --background-image: url(../images/cover-image-dark.png);
}
